/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background-color: #333;
  }
  
  nav a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.2s;
  }
  
  nav a:hover {
    color: #34d399; /* Green color on hover */
  }

  .jumb {
    background-image: url('/b4.jpg');
    background-position: center;
    background-size: cover;
  }